{% extends 'base.html.twig' %}

{% block title %}
    Michelin
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Accueil</h1>
        <ul class="list-group">
            <a class="btn btn-primary btn-lg btn-block" href="{{ path('guide_michelin_menu') }}" role="button">Menu</a>
            <a class="btn btn-primary btn-lg btn-block" href="{{ path('guide_michelin_restos') }}" role="button">Restaurants</a>
        </ul>
    </div>
{% endblock %}