{% extends 'base.html.twig' %}

{% block title %}
    Menu
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Menu</h1>
        <ul class="list-group">
            <a class="btn btn-primary btn-lg btn-block" href="{{ path('guide_michelin_restos') }}" role="button">Restaurants</a>
            <a class="btn btn-primary btn-lg btn-block" href="" role="button">Chefs</a>
            <a class="btn btn-primary btn-lg btn-block" href="" role="button">Plats</a>
            <a class="btn btn-secondary btn-lg btn-block" href="{{ path('guide_michelin_accueil') }}" role="button">Retour</a>
        </ul>
    </div>
{% endblock %}


